{% for it in items %}
    {% set idx = loop.index %}
    {% include "partials/gallery/_photo.html" %}
{% endfor %}
<div class="d-none" data-global-target="newFetchCursor" value="{{ older_cursor }}"
    data-query-params-jump_date="{{ jump_date }}"
    data-query-params-limit="{{ limit }}"
    data-query-params-rating_int="{{ rating_int }}"
    data-query-params-tag_id="{{ tag_id }}"
    data-query-params-country="{{ country_value }}"
    data-query-params-city="{{ city_value }}"
    data-query-params-newer="{{ newer_cursor }}"
    data-query-params-older="{{ older_cursor }}"
    ></div>

<script>
    
</script>