<div class="container-fluid">
  <div class="d-flex justify-content-between align-items-center">
    <div>
      
        <button class="btn btn-outline-secondary"
          data-global-target="loadNewerButton"
          data-action="click->global#loadMoreBtnClicked"
          data-direction="newer">
          Newer
        </button>
    </div>

    <div>
        <button class="btn btn-outline-primary" 
        data-global-target="loadOlderButton"
        data-action="click->global#loadMoreBtnClicked"
        data-direction="older"
        data-query-params-jump_date="{{ jump_date }}"
        data-query-params-limit="{{ limit }}"
        data-query-params-rating_int="{{ rating_int }}"
        data-query-params-tag_id="{{ tag_id }}"
        data-query-params-country="{{ country_value }}"
        data-query-params-city="{{ city_value }}"
        data-query-params-newer="{{ newer_cursor }}"
        data-query-params-older="{{ older_cursor }}"
        
        >Load more</button>

    </div>
  </div>
</div>
