{% if not items %}
  <div class="alert alert-secondary">No photos found for this range.</div>
{% else %}
  {% set current = request.url.path ~ (('?' ~ request.url.query) if request.url.query else '') %}
  <div data-action="appstate:updated@window->gallery#refreshUI" class="h-100 overflow-auto pt-1">
    <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-6 g-2 phototank-gallery-grid overflow-auto">
      {% for it in items %}
        {% include 'partials/gallery/_photo.html' %}
      {% endfor %}
    </div>
  </div>
{% endif %}
