{% extends "base.html" %}


{% block nav_extra %}
  {% include "partials/gallery/_gallery_nav_extra.html" %}
{% endblock %}


{% block content %}
  <div  
    data-controller="gallery" 
    id="content_gallery"
    >
      <div class="container-fluid h-100 py-2">
        {% include "partials/gallery/_gallery_grid.html" %}
      </div>
      {% include "partials/gallery/_gallery_offcanvas.html" %}
  </div>
  {% endblock %}




{% block scripts %}
  <!-- <script src="/phototank/static/js/gallery.js"></script> -->
  <!-- <script src="/phototank/static/js/rating.js"></script> -->
  <!-- <script src="/phototank/static/js/tags.js"></script> -->
  <!-- <script src="/phototank/static/js/shortcuts.js"></script> -->
{% endblock %}
